/** QUERY PAGE*/
.query-page {
  border: 1px solid green;

  & .query-square {
    width: 100%;
    min-height: 150px;
  }

  & .query-page-execute-query-button {
    margin-top: 10px;
  }
}

.dinamic-table {
  th {
    border: 1px solid #c3c3c3
  };
  td {border: 1px solid #c3c3c3};

  & tbody tr:nth-child(2n) {
    background: #dedede;
  }
}
