/** QUERY PAGE*/
.query-page {
  & .query-square {
    width: 100%;
    min-height: 150px;
  }

  & .query-page-execute-query-button {
    margin-top: 10px;
  }
}

.dinamic-table {
  th {
    border: 0.7px solid #c3c3c3
  };
  td {border: 1px solid #c3c3c3};

  & tbody tr:nth-child(2n) {
    background: #dedede;
  }
}

.dynamic-table-2 {
  & .ant-table-container {
   overflow-x: scroll;
  }
  th {
    border: 0.3px solid #5f5c5c
  };
  td {border: 0.3px solid #5f5c5c};
}

/** Login Page */
.login-card {
  box-shadow: 3px 3px #727272;
  border-radius: 20px
}

.Section__sectionFooterSecondaryContent___Nj41Q {
  display: none;
}
.Hint__hint___2XngB {
  display: none;
}
.ant-table-tbody > tr > td {
  border-bottom: none;
  border-right: none;
  background: #dddddd;
}
.ant-table-thead > tr > th {
  border-bottom: none;
  border-right: none;
  background: #808080;
  color: #f0f0f0;
  font-weight: bolder;
}

.ant-table {
  font-size: 10px;
  table {
    text-align: start;
  }
}
 body {
   font-family: Tahoma,Verdana,Segoe,sans-serif;
 }

