/** QUERY PAGE*/
.query-page {
  & .query-square {
    width: 100%;
    min-height: 150px;
  }

  & .query-page-execute-query-button {
    margin-top: 10px;
  }
}

.dinamic-table {
  th {
    border: 1px solid #c3c3c3
  };
  td {border: 1px solid #c3c3c3};

  & tbody tr:nth-child(2n) {
    background: #dedede;
  }
}

.dynamic-table-2 {
  & .ant-table-container {
   overflow-x: scroll;
  }
}

/** Login Page */
.login-card {
  box-shadow: 3px 3px #727272;
  border-radius: 20px
}

.Section__sectionFooterSecondaryContent___Nj41Q {
  display: none;
}
.Hint__hint___2XngB {
  display: none;
}

#editor {
  min-height: 150px;
  padding: 10px;
  background-color: white;
  color: #444;
  font-size: 14px;
  font-family: monospace;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.statement {
  color: orange;
}
